<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="left_nav">
	<!-- Brand Logo -->
	<div>
		<span class="brand-text font-weight-light"
			style="Color:#FFF; font-size: 25px; padding-left: 15px; font-weight: bold;">May Bank</span>
	</div>

	<!-- Sidebar -->
	<div class="sidebar">


		<!-- Sidebar Menu -->
		<nav class="mt-2">

			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

				<li class="nav-item">
					<a th:href="@{/cusm}" class="nav-link">
						<i class="far fa-circle nav-icon"></i>
						<p>Create Customer</p>
					</a>
				</li>
				<li class="nav-item">
					<a th:href="@{/cusm/list}" class="nav-link">
						<i class="far fa-circle nav-icon"></i>
						<p>Customer Data List</p>
					</a>
				</li>
				

			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>