<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="left_nav">
	<!-- Brand Logo -->
	<div>
		<span class="brand-text font-weight-light"
			style="Color:#FFF; font-size: 25px; padding-left: 15px; font-weight: bold;">May Bank</span>
	</div>

	<!-- Sidebar -->
	<div class="sidebar">


		<!-- Sidebar Menu -->
		<nav class="mt-2">

			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

				<li class="nav-item">
					<a th:href="@{/cusm}" class="nav-link">
						<i class="far fa-circle nav-icon"></i>
						<p>Create Customer</p>
					</a>
				</li>
				<li class="nav-item">
					<a th:href="@{/cusm/list}" class="nav-link">
						<i class="far fa-circle nav-icon"></i>
						<p>Customer Data List</p>
					</a>
				</li>
				<li class="nav-item">
					<a th:href="@{crm_report}" class="nav-link">
						<i class="far fa-circle nav-icon"></i>
						<p>CRM Report</p>
					</a>
				</li>

				<!--<li class="nav-item">
					<a th:href="${baseUrl}" class="nav-link">
						<i class="nav-icon fas fa-copy"></i>
						<p>
							CRM Master
							<i class="fas fa-angle-left right"></i>

						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{crmmaster}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Create CRM Master</p>
							</a>
						</li>

					</ul>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{crmmaster_list}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>CRM Master List</p>
							</a>
						</li>

					</ul>
				</li>
				<li class="nav-item">
					<a th:href="${baseUrl}" class="nav-link">
						<i class="nav-icon fas fa-copy"></i>
						<p>
							CRM Details
							<i class="fas fa-angle-left right"></i>

						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{/crmdetail_list}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>CRM Details List</p>
							</a>
						</li>

					</ul>

				</li>
				<li class="nav-item">
					<a th:href="${baseUrl}" class="nav-link">
						<i class="nav-icon fas fa-copy"></i>
						<p>
							Reports
							<i class="fas fa-angle-left right"></i>

						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{crm_report}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>CRM Report</p>
							</a>
						</li>

					</ul>

				</li>-->





			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>